/Pemograman_Berorientasi_Object/Quis_PBO_A1_Khairul_Aqram_190170125/nbproject/private/
/Pemograman_Berorientasi_Object/Khairul-Aqram_190170125_Quis_PBO_A1/nbproject/private/
/Pemograman_Berorientasi_Object/Khairul-Aqram_190170125_Quis_PBO_A1/build/
/Pemograman_Berorientasi_Object/Khairul-Aqram_190170125_UTS_PBO_A1_Ganjil/nbproject/private/
/Pemograman_Berorientasi_Object/Khairul-Aqram_190170125_UTS_PBO_A1_Ganjil/build/
/Pemograman_Berorientasi_Object/Interface/nbproject/private/
/Pemograman_Berorientasi_Object/JavaApplication8/nbproject/private/
/Pemograman_Berorientasi_Object/JavaApplication8/build/
/Pemograman_Berorientasi_Object/From_Menu/nbproject/private/
/Pemograman_Berorientasi_Object/Form_Login/nbproject/private/
/Pemograman_Berorientasi_Object/Form_Login/build/
/Pemograman_Berorientasi_Object/From_Menu/build/