body{
 font-family: Arial, Helvetica, sans-serif;
background-image: url(gambar/latar.jpg);
 padding: 0;
 margin:0;
}
.warnakulit{
	color: 2px black;
	-webkit-text-stroke:1px black;
}
.container{
 width: 65%;
 height: auto;
 margin:auto;
 margin-top: 5px;
 padding-bottom: 5px;
}
.logo {
 font-size: xx-large;
 padding: 30px 0 30px 10px;
}
nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: grey;
 border: 1px solid gainsboro;
}
nav li {
 float: left;
}
nav li a{
 display: inline-block;
 color:#ffffff;
 text-align: center;
 padding: 14px 15px;
 text-decoration: none;}
nav li a:hover {
 opacity:0.9;
 background-color: #3385ff;
}
article {
 width: 98.8%;
 height: auto;
 border-radius: 3px;
 margin: 5px 5px 5px 5px;
 border: 1px solid gainsboro;
 clear: both;
}
article p {
 padding: 5px 6px 5px 5px;
 line-height: 1.5; 
}
article .konten {
 width: 23.5%;
 height: auto;
 margin: 5px 5px 5px 5px;
 border-radius: 3px;
 border: 1px solid gainsboro;
 float: left;
}
article .isi {
 width: 98.5%;
 height: auto;
 margin: 5px 5px 5px 5px; border-radius: 3px;
 border: 1px solid gainsboro;
 float: left;
}
article .isi .judul {
 font-size: xx-large;
 margin-bottom: 10px;
 margin-left: 10px;
 margin-top: 10px;
}
article .isi p {
 margin-top: 0;
}
article .isi img {
 float: left;
 margin: 5px 5px 5px 5px;
}
article .konten img {
 width: 95.8%;
 height: 150px;
 margin: 5px 5px 5px 5px;
}
article .konten:hover {
 opacity:0.9;
}
article .konten .judul a {
 margin-left: 5px;
 text-decoration: none;
 font-size:x-large;
 color:#020101;}
article .konten a:hover {
 opacity:0.9;
}
footer {
 clear: both;
 width: 98.8%;
 height: auto;
 text-align: center;
 margin: 5px 5px 5px 5px;
 border-radius: 3px;
 border-bottom: 1px solid gainsboro;
 padding-top: 15px;
 padding-bottom: 15px; 
}